
<table>
<tr>
		<th>
		Name</th>
		<th>
		id </th>
		<th>
		status</th>
		<th>
		age</th>
		</tr>
		<h1>
		Rails
		</h1>
		<% @users.each do |user| %>
		
		
        <tr>
		<td>
		<%= user.name%>
		</td>
		<td>
		<%= user.status%>
		</td>
			<td>
		<%= user.id%>
		</td>
		<td>
		
		</td>

		<td><%= link_to 'show', user %> </td>
		<td><%= link_to 'edit', edit_user_path(user) %></td>
	</tr>
	<%end%>
</table>





















</table>