<table>
<tr>
		<th>
		Raghu</th>
		<th>
		id </th>
		</tr>
		<h1>
		RAGHU
		</h1>
		<% @clients.each do |client| %>
		
		
        <tr>
		<td>
		<%= client.name%>
		</td>
		<td>
			
		<%= client.id%>

		</td>
		<td>
	 </td>
	 <td>
	 </td>

	<td><%= link_to 'show', client %></td>
	<td><%= link_to 'edit', edit_client_path(client) %></td>
	<td><%= link_to 'index', clients_path %> </td>
	<td><%= link_to 'new', new_client_path %> </td>
	</tr>
	<%end%>
</table>